﻿@{
	ViewBag.Title = "EntityCs";
}
<style>
	#root {
		display: flex;
		flex-direction: column;
	}

	#submit {
		width: 100%;
		max-width: 100%;
	}

	#field {
		max-width: 100%;
	}
</style>
<div id="root">
	<h2>EntityCs</h2>
	@using (Ajax.BeginForm("entity", "api", new AjaxOptions
	{
		HttpMethod = "GET",
		OnSuccess = "onSuccess"
	}))
	{
		<input id="submit" type="submit" value="Get Entity" class="btn btn-success" />
	}
	<pre id="field" class="hidden"></pre>
</div>
@Scripts.Render("~/scripts/jquery-3.4.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
<script>

	function OnBegin() {
		let field = document.getElementById("field");
		field.classList.add("hidden");
	}

	function onSuccess(entity) {
		let field = document.getElementById("field");
		field.innerText = JSON.stringify(entity, null, 4);
		field.classList.remove("hidden");
	}
</script>
