﻿@{
	ViewBag.Title = "EntityJs";
}
<style>
	#root {
		display: flex;
		flex-direction: column;
	}

	#field {
		max-width: 100%;
	}
</style>
<div id="root">
	<h2>EntityJs</h2>
	<button id="get-entity" class="btn btn-success">Get Entity</button>
	<pre id="field" class="hidden"></pre>
</div>
<script>
	(() => {
		let btn = document.getElementById("get-entity");
		btn.addEventListener("click", getEntity);
	})();

	function getEntity() {
		let field = document.getElementById("field");
		field.classList.add("hidden");
		fetch("/api/entity",
			{
				headers: {
					'Content-Type': 'application/json'
				}
			})
			.then(d => d.json())
			.then(entity => {
				field.innerText = JSON.stringify(entity, null, 4);
				field.classList.remove("hidden");
			});
	}
</script>
